<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("EN", "Change", "Home", new { languageAbbreviation = "en" }, null)</li>
    <li>@Html.ActionLink("RU", "Change", "Home", new { languageAbbreviation = "ru" }, null)</li>
</ul>
