@{
    ViewBag.Title = @VideoSharing.Resources.Global.ForgotPasswordConfirmation;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>

        @VideoSharing.Resources.Global.CheckMail

</div>

